/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
 .container {
	width: 970px;
}  
.header_logo a {
	font-size: 41px;
}
.top_bar_menu {
	text-align: right;
	padding: 0px 11px;
}
.menu_area ul li a {
	padding: 3px 2px;
}
.menu_area ul li {
	margin-bottom: 6px;
}
.header_bottom_area {
	padding: 0px 17px;
}
.menu_area {
	padding: 3px 20px;
}
.key_area {
	padding: 0px 29px;
}
.top_newses {
	padding: 0px 13px;
}
.top_news_area span i.fas.fa-chevron-left {
	left: -6px;
}
 .top_news_area span i.fas.fa-chevron-right {
	right: -6px;
}
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.container{
	width:750px;
	}
.top_news_area span i.fas.fa-chevron-right {
	right: -18px;
}
.top_news_area span i.fas.fa-chevron-left {
	left: -18px;
}
  
  .border_bottom.main {
	padding: 0px 36px 21px 36px;
}
.border_bottom.main {
	margin: 0px 25px;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
.container{
width:300px;
	}
.header_logo a {
	font-size: 17px;
}
.top_news_area span i.fas.fa-chevron-left {
	top: 17%;
	left: 14px;
	z-index:1
}
	.top_news_area span i.fas.fa-chevron-right {
	top: 17%;
	right: 14px;
}
  .border_bottom.main {
	margin: 0px 39px;
}  
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.container{
width:450px;
	}
	.header_logo a {
		font-size: 41px;
	}
	.header_area {
		padding: 2px 0px 32px 0px;
	}
	.header_logo {
		 width: 100%; 
	}
 .top_news_area span i.fas.fa-chevron-right {
right: -18px;
}
.top_news_area span i.fas.fa-chevron-left {
	left: -18px;
}
.header_bottom_area span {
	margin-left: -4px;
}
.menu_area ul li {
	margin-bottom: 4px;
}
}