/* Common Css */
*{margin:0px;padding:0px;}
body {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
a:hover {
	
	text-decoration: none;
}
p{
	margin-bottom:0px;
}
ul{
	list-style:none;
	margin-bottom:0px;
}
h1,h2,h3,h4,h5,h6{
	margin-bottom:0px;
}
._border_color{
	border-color:#eeeeee !important;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
/* .main{width:1000px;
	margin:0px auto;} */
.fix{overflow:hidden;}
.common_padding {
	padding: 37px 0px;
}
.common_margin{
	padding: 37px 0px;
}
img{width: 100%;}
/* Start Top Bar Menu Area */
.top_bar {
	background-color: #EEE;
}
.top_bar_menu {
	text-align: right;
}
.top_bar_menu ul {
	list-style: none;
}
.top_bar_menu ul li {
	display: inline-block;
}
.top_bar_menu ul li a {
	font-size: 11px;
	text-transform: capitalize;
	color: #000;
	padding: 6px 8px;
	display: block;
}
/* End Top Bar Menu Area Css */
/* Start Header Area Css */
.header_area {
	padding: 36px 0px;
	border-bottom: 1px solid #289CD7;
}
/* .header_logo a {
	font-family: 'Lobster Two', cursive;
	font-size: 69px;
	text-transform: capitalize;
	font-weight: bold;
	color: #23A4E5;
} */
.header_logo a {
	font-family: 'Lobster Two', cursive;
	font-size: 52px;
	text-transform: capitalize;
	font-weight: 700;
	color: #23A4E5;
	font-style: italic;
}
.header_logo {
	display: block;
	margin: 0px auto;
	width: 50%;
	padding: 8px 0px;
	text-align: center;
}
.header_area p {
	width: 75px;
	position: absolute;
	right: 190px;
	text-align: center;
	padding: 3px 5px;
	background-color: #365899;
	color: #fff;
	font-size: 11px;
	border-radius: 3px;
}
.header_area p i {
	margin-right: 5px;
}
.header_bottom_area {
	line-height: 29px;
}
.header_bottom_area p {
	font-size: 13px;
	word-spacing: 3px;
}
.header_bottom_area span {
	margin-left: 15px;
}
.header_bottom_area p {
	font-size: 13px;
}
.header_bottom_area span i {
	margin-right: 6px;
	font-size: 15px;
	color: red;
}
/* End Header Area Css */
/*  Start Menu Area Css */
.menu_area {
	background-color: #23A4E5;
	padding: 3px 0px;
}
.menu_area ul {
	list-style: none;
	margin-bottom: 0px;
	padding: 5px 0px;
}
.menu_area ul li {
	display: inline-block;
	margin: 0px;
	position: relative;
}
.menu_area ul li a {
	padding: 3px 5px;
	display: block;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}
.menu_area ul li:hover a {
	background-color: #168FCC;
	text-decoration: navajowhite;
	border-radius: 3px;
}
.menu_div {
	padding: 14px 0px;
	background-color: #F3F3F3;
}
.menu_area ul input {
	width: 140px;
	border: navajowhite;
	border-radius: 3px;
	background-color: #F6F5F5;
	position: relative;
	padding: 4px 18px;
	font-size: 11px;
}
.menu_area ul li i {
	position: absolute;
	left: ;
	right: 6px;
	top: 7px;
	font-size: 14px;
	color: #000;
	font-weight: ;
	font-style: normal;
}
/*  End Menu Area Css */
/* Start Visual Key Area Css */
.key_area ul li {
	display: inline-block;
	margin-right: 5px;
	font-size: 13px;
	text-transform: capitalize;
	color: #218CC6;
	font-weight: 600;
}
.key_area ul li a {
	font-weight: 300;
	margin-left: 14px;
	color: #000;
}
/* End Visual Key Area Css */
/*  Start Top News Area Css  */

.top_news_area {
	width: 950px;
	position: relative;
	padding-bottom: 2px;
	border-bottom: 1px solid #ddd;
}
.top_newses {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}
.single_top_news {
	width: 292px;
}
.single_top_news img {
	width: 100%;
}
.single_top_news {
	width: 100%;
	position: relative;
	margin-right: 5px;
}
.single_top_news figcaption {
	position: absolute;
	bottom: 16px;
	background-color: #000;
	color: #fff;
	padding: 8px 10px;
	opacity: .9;
	width: 100%;
	overflow: hidden;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.single_top_news p {
	font-size: 12px;
	text-overflow: ellipsis;
	margin-bottom: 0px;
	line-height: 18px;
	overflow: hidden;
	border-bottom: 1px solid transparent;
}
.single_top_news:hover p {
	cursor: pointer;
	border-bottom: 1px solid #fff;
}
.single_top_news figcaption span {
	font-size: 11px;
}
.single_top_news:last-child {
	margin-right: 0px;
}
.top_news_area span i.fas.fa-chevron-left{
	position: absolute;
	top: 34%;
	left: -48px;
	color: #c4bebe;
	border: 1px solid #c4bebe;
	width: 29px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;

}
.top_news_area span i.fas.fa-chevron-right {
	position: absolute;
	top: 34%;
	right: -48px;
	color: #c4bebe;
	border: 1px solid #c4bebe;
	width: 29px;
	height: 29px;
	line-height: 29px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}
/* End Top News Area Css  */
/* Start News Area Css  */
.news_area {
	margin-top: 16px;
}
.news_area_head h3 {
	display: inline-block;
	border-bottom: 2px solid transparent;
	font-weight: 300;
}
.border_bottom.main {
	border-bottom: 1px solid #ddd;
	margin-bottom: 16px;
	padding-bottom: 9px;
}
.news_area_head:hover h3 {
	border-bottom: 2px solid #000;
	cursor: pointer;
}
.news_left {
	margin-top: 10px;
}
.news_right {
	margin-top: 10px;
}
.news_right p {
	font-size: 14px;
	line-height: 26px;
	padding-top: 10px;
}

.border_bottom {
	border-bottom: 1px solid #ddd;
	margin-bottom: 14px;
	padding-bottom: 14px;
}
.news_body_area_right::before {
	position: absolute;
	content: '';
	top: -50px;
	left: -15px;
	width: 1px;
	height: 100%;
	background-color: #ddd;
}
/*  End News Area Css  */
 /* Start News Body Area Css  */
.news_real_times {
	margin-top: 20px;
}
.single_news_real_times {
	margin-bottom: 10px;
}
.single_news_real_times p {
	padding: 13px;
	font-size: 14px;
	line-height: 23px;
}
.single_news_real_times_pera {
	border: 1px solid #ddd;
	padding: 4px 0px;
	position: relative;
}
.single_news_real_times p {
	font-size: 14px;
	line-height: 23px;
	cursor: pointer;
}
.single_news_real_times_pera span {
	font-size: 11px;
	color: #a6a5a5;
	position: absolute;
	right: 20px;
	bottom: 53px;
	font-weight: bold;
}
.single_news_real_times_pera ul {
	text-align: right;
	margin-right: 11px;
}
.single_news_real_times_pera ul li {
	display: inline-block;
}
.single_news_real_times_pera ul li a button {
	padding: 10px;
	border: navajowhite;
	padding: 4px 11px;
	font-size: 12px;
	background-color: #23A4E5;
	color: #fff;
	font-weight: bold;
	border-radius: 6px;
	cursor: pointer;
}
.single_news_real_times_pera ul li a button:hover {
	background-color: #00568F;
}
.single_news_real_times_top {
	display: flex;
}
.news_body_area_right {
	margin-top: 49px;
	position: relative;
}
.single_news_real_times_top {
	display: flex;
	padding: 9px 11px;
}
.single_news_body_area_right_featured img {
	height: 106px;
	object-fit: cover;
}
.single_news_real_times_top img {
	width: 36px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.single_news_real_times_top p {
	font-size: 12px;
	padding: 8px 4px;
	font-size: 12px;
	text-transform: capitalize;
	font-weight: 500;
	margin-bottom: 0px;
}

.single_news_body_area_right_featured {
	border: 1px solid #ddd;
}
.news_body_area_right_featured h3 {
	font-size: 16px;
	text-transform: capitalize;
}
.news_body_area_right_featured {
	border-bottom: 2px solid #000;
	padding-bottom: 8px;
	margin-top: 15px;
}
.news_from img {
	width: 25%;
}
.news_from ul li a {
	font-size: 13px;
	padding-bottom: 10px;
	display: block;
	color: #000;
	text-transform: capitalize;
}
.news_from ul {
	margin-left: 15px;
}
.boreder_btn {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	border: navajowhite;
	padding: 9px 20px;
	text-transform: capitalize;
	border-radius: 3px;
	font-size: 13px;
	background-color: transparent;
	border: 1px solid #23A4E5;
}

/* End News Body Area Css */
/* Start Footer Area Css  */
.footer_Area {
	padding-top: 35px;
	border-top: 1px solid #0074E8;
	margin-top: 38px;
	background-color: #F3F3F3;
}
.footer_menu ul {
	list-style: none;
	text-align: center;
}
.footer_menu ul li {
	display: inline-block;
}
.footer_menu ul li a {
	font-size: 13px;
	text-transform: capitalize;
	color: #000;
	padding: 5px 11px;
	border-right: 1px solid #ddd;
}
.footer_menu ul li:last-child a {
	border-right: navajowhite;
}
.footer_menu p {
	text-align: center;
	font-size: 11px;
	color: #9e9c9c;
	text-transform: capitalize;
}

/* End Footer Area Css */

/* Category Page */
.category_area {
	margin-top: 20px;
	margin-bottom: 49px;
}
.cate_title h3 {
	font-size: 18px;
	cursor: pointer;
	text-transform: capitalize;
}
.cat_images {
	display: flex;
	margin: 30px 0px;
	padding: 20px 28px;
	background-color: #F3F3F3;
}
.cat_top {
	padding: 24px 0px;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}
.cat_top h3 {
	font-size: 20px;
	text-transform: capitalize;
	line-height: 30px;
	margin-bottom:0px
}
.cat_top span {
	font-size: 13px;
}
.cat_images {
	display: flex;
	margin: 30px 0px;
}
.cat_top img {
	height: 346px;
	margin-top: 11px;
}
.cat_news {
	margin-top: 20px;
}
/* .single_img {
	width: 184px;
	height: 100px;
	margin-right: 15px;
} */
.single_img {
	margin-right: 15px;
	width: 184px;
	overflow: hidden;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}
.single_img p {
	text-overflow: ellipsis;
	margin-bottom: 0px;
	line-height: 18px;
	overflow: hidden;
	font-size: 13px;
	margin: 11px 0px;
}
.single_img img {
	width: 100%;
	height: 100%;
}
.single_img:last-child{margin-right:0px}
.single_img span {
	font-size: 11px;
	text-align: right;
	display: block;
}
.single_cat_news {
	padding: 0px 13px;
	margin-bottom: 10px;
}
.cat_details {
	text-overflow: ellipsis;
	overflow: hidden;
	overflow: hidden;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	padding: 14px 0px;
}
.cat_details p {
	text-overflow: ellipsis;
	margin-bottom: 0px;
	line-height: 18px;
	overflow: hidden;
	font-size: 14px;
}
.cat_details h4 {
	text-overflow: ellipsis;
	margin-bottom: 0px;
	line-height: 18px;
	overflow: hidden;
}
.cat_details h4 a{	font-size: 21px;
	color: #333;}
.cat_details span {
	font-size: 13px;
	text-transform: capitalize;
	color: #a3a0a0;
}
.cat_details:hover h4 a {
	color: #23A4E5;
	cursor: pointer;
}
/* Description Page */
.single_des_news {
	padding: 12px 0px;
	margin-bottom: 12px;
	cursor:pointer
}
.des_top {
	padding: 0px 24px;
}
.des_top span {
	color: #8f8e8e;
}
.des_top img {
	width: 81%;
	margin-bottom: 12px;
}
.des_top p {
	font-size: 16px;
	line-height: 28px;
	text-align: justify;
}.des_news {
	margin-top: 20px;
}
.des_details {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.des_details h4 {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 16px;
	margin: 11px 0px;
}
.des_details h4 a {
	color: #333;
}
.des_details h4 a:hover {
	text-decoration: underline;
}





/* Community page start________________________ */

/* Community topbar CSS_______________ */
.community_topbar_area{
	background-color:#FBFBFB;
	border-bottom: 1px solid;
}
.community_topbar {
    padding-top: 10px;
    padding-bottom:10px;
}
.community_topbar .logo img {
    width: 88px;
}
.community_topmenu{}
.community_topmenu li, .community_right_menu li{
	display: inline-block;
}
.community_topmenu li a,.community_right_menu li a{
	color: #999999;
	display:inline-block;
	padding: 6px 8px;
    border-right: 1px solid #eeeeee;
    line-height: 14px; 
    transition:.5s;
    font-size: 13px;
}
.community_topmenu li a:hover{
	text-decoration:underline;
}
.community_header{}
.sign_up{}
ul.sign_up a {
    font-size: 13px;
    padding: 6px 4px;
    color: #666666;
}
ul.sign_up i{
	color: #666666;
}

    

/* Community midbar CSS_______________ */
.community_midbar{
	 border-bottom: 1px solid;
} 
.midbar_left{}
.midbar_left a {
    margin: 20px 0px;
}
a.midbar_title{
	font-size: 29px;
	color: #333;
    font-weight: bold;
    display:inline-block;
} 
a.midbar_title span{
	color: #0099ff;
}  
.midbar_right{
	position: relative;
}
.midbar_right img {
    padding: 22px 0px;
}
span.left_mibar_icon i {
    position: absolute;
    top: 38%;
    left: -12px;
    color: #c4bebe;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
span.right_mibar_icon i {
    position: absolute;
    top: 37%;
    right: -10px;
    color: #c4bebe;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

/* Community mainmenu CSS_______________ */
.community_mainmenu_area{
	padding:14px 0px;
	border-bottom: 1px solid;
}
ul.community_mainmenu li{
	 display: inline-block;
}
ul.community_mainmenu li a{
    display: inline-block;
    color: #333333;
    font-size: 15px;
    font-weight: bold;
    line-height: 45px;
    transition: .5s;
    text-align: center;
     padding: 0 10px;
}
ul.community_mainmenu li:first-child a{
	padding-left: 0px;
}
ul.community_mainmenu li a:hover{
	color:#0099ff;
}
.community_mainmenu li> a.active {
	color:#0099ff;
}
.community_search input {
    border: 2px solid #0099ff;
    padding: 10px;
     width: 90%;
    outline: none;
    position: relative;
}
.community_search i {
    background-color: #0099ff;
    color: #fff;
    height: 46px;
    line-height: 46px;
    width: 46px;
    text-align: center;
    position: absolute;
    right: 17px;
}



/* Community content CSS_______________ */
.community_cont_area{
	padding: 20px 0px;
}

/* Community content Left CSS_______________ */
.community_left{
}
.welcome {
	 border: 1px solid #e7e7e7;
    padding: 15px 15px;
    background-color: #F8F9F9;
    margin-bottom:14px;
}    
h4.guest {
    font-size: 14px;
    margin-bottom: 5px;
}
h4.guest i {
    margin-left: 4px;
}
.welcome p{
	font-size:9px;
}
.community_sidenav{
	 border: 1px solid;
}
.sidebar_nav{
	border-bottom:1px solid;
}
.sidebar_nav li a.current{
	color:#6684b9;
	font-weight: 600;
}
.sidebar_nav li a.current i {
    float: right;
    line-height: 20px;
}
.sidebar_nav li a{
	display:block;
	padding: 4px 15px;
	font-size: 14px;
	color:#000;
	transition:.5s;
	 font-weight: 500;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.sidebar_nav li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
   	background-color: #F7F7F7;
    transition: .4s;
    z-index: -1;
}
.sidebar_nav li a:hover::after{
    top: 0;
}
li.nav_top a{
	border-bottom: 1px solid #e7e7e7;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 14px;
}
.sidebar_nav:last-child{
	border-bottom: 0px;
}


/* Community content right CSS_______________ */
.community_right{}     
.category_title{
	border-bottom:1px solid;
}
h2.category_title_h2 a{
	display: inline-block;
	font-size: 18px;
	color: #000;
}
h2.category_title_h2 a:hover{
	text-transform: underline;
}
.filter_bar{}
.filter_bar{}
.filter_bar h2{
	display: inline-block;
}
.filter_btn a{
	font-size: 15px;
	padding: 6px 15px;
	border:1px solid #e7e7e7;
	display: inline-block;
}
a.border_btn{
	background-color:#0099ff;
	color:#fff;
	padding: 6px 15px;
	font-size: 15px;
	display:inline-block;
	float: right;
	font-weight:500;
	margin: 8px 0px;
	transition:.5s;
	border:2px solid #0099ff;
}
a.border_btn i{
	padding-right:4px;
}
a.border_btn:hover{
	background-color: #fff;
	color:#0099ff;
}
.community_right_menu{
	padding:10px 0px;
}
.community_right_menu li a{
	font-size: 15px;
}
.{}
.{}



